body{
  text-align: center;
  margin: 0;

}
/* text section */
h1{
  font-family: 'Tangerine', cursive;
  font-size: 6rem;
  margin: 50px auto 0 auto;
  color: #562349;
}
p{
  font-family: 'Mukta', sans-serif;
  font-weight: bolder;
  font-size: 1.3rem;
  color: #8f8f8f;
  line-height: 2rem;
}
#sub-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  padding-bottom: 10px;
   color: #562349;
}
.title-hello{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  color: #2c003e;
  font-weight: bold;
}
.title-lv-2{
font-family: 'Fondamento', cursive;
color:#691a40;
font-size: 2rem
}
.title-lv-3{
  font-family: 'Satisfy', cursive;
  font-size: 1.5rem;
  color:#9e3668;
}
.title-text{
  width:30%;
  margin: auto;
}
/* conatiner section */
.Top-container{
  background-color:#e3fdfd ;
  position: relative;
  padding-top: 100px;
}
.middle-container{

}
.bottom-container{
  background-color: #9de3d0;
  padding: 20px 0 20px;
  margin-top: 50px;
}
/* image-section */
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
   left: 250px;
   bottom:330px;
}
/* skils section */
.skill-row{
  width: 50%;
  margin: 130px auto 130px auto;
  text-align: left;
}
.skill-img-1{
  width: 30%;
  height: 35%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.skill-img-2{
  width: 30%;
  height: 30%;
  float: right;
  margin-left: 30px;
}
/* contact me section */
.contact-me-title{
  font-family: 'Courgette', cursive;
}
.contact-me-text{
  font-family: 'Sahitya', serif;
  font-weight:lighter;
}
.btn {
	background-color:#ff9595;
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:17px 31px;
	text-decoration:none;
	text-shadow:0 0 32px #ffffff;
  margin:50px auto 80px auto;
}
.btn:hover {
	background-color:#ffa5b0;
}
.btn:active {
	position:relative;
	top:1px;
}
/* icon section */
.social-icon{
  margin:40px 30px 10px 30px;
  color:#9e3668 ;
  size:20px;
}
.social-icon:hover{
  cursor: pointer;
}
/* single section */
hr {
  border: #eeeeee dotted 6px;
  border-bottom:none;
  width: 5%;
  margin: 100px auto;
}
.copyright{
 font-size: 0.8rem;
 padding-top: 0;
 margin: 0;
}
span{
  text-decoration: underline;
}
/* phone edit section */
@media (max-width:377px) {
  .top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
  }
  .bottom-cloud{
    position: absolute;
     left: 250px;
     bottom:330px;
  }
  .skill-img-1{
    width: 30%;
    height: 35%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    margin-bottom: 80px;
  }
}
